/*
┌──────────────────────────────────────────────────────────────────┐
│ ______               _____               _____  ___   ___   ___  │
│|  ____|             |  __ \             | ____|/ _ \ / _ \ / _ \ │
│| |__ _ __ __ _  __ _| |  | | _____   __ | |__ | | | | | | | | | |│
│|  __| '__/ _` |/ _` | |  | |/ _ \ \ / / |___ \| | | | | | | | | |│
│| |  | | | (_| | (_| | |__| |  __/\ V /   ___) | |_| | |_| | |_| |│
│|_|  |_|  \__,_|\__, |_____/ \___| \_/   |____/ \___/ \___/ \___/ │
│                 __/ |                                            │
│                |___/                                             │
└──────────────────────────────────────────────────────────────────┘	

	Layout © 2016, Jacob Hume
	Licensed AGPLv3, Rock on.
*/



/*= Font Styles ============*/

@font-face {
	font-family: header;
}


/*= Base Styles ============*/

*,*:before,*:after {
	box-sizing: inherit;
}

a {
	color: #abc0c0;
}

body {
	color: #171b1b;
	font-family: 'Droid Serif','Georgia',serif;
	font-size: 18px;
	line-height: 1.2;
}

footer {
	color: #abc0c0;
	text-align: center;
}

footer,
header>p {
	color: #717f7f;
}

h1,h2,h3,h4 {
	color: #ABC0C0;
}

h1,h2,h3,h4,header {
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

hr {
	background: #abc0c0;
	border: 0;
	height: .25em;
	margin: 1em 2em;
}

section>header>p {
	font-style: italic;
}

html {
	background: #BED6D6;
	box-sizing: border-box;
	padding: 1em;
}



/*= Modules ================*/

.a11y-link {
	background: #fff;
	position: fixed;
	top: -10em;
}

.boxy {
	background: #fefefe;
	box-shadow: .5em .5em 0 #abc0c0;
	padding: 1em;
	margin: 1em 0;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0 0 1.5em 0;
}

.nav a {
	font-size: 1.3em;
	margin: .5em;
	padding: .5em;
	text-decoration: none;
	text-transform: uppercase;
	transition: color .25s;
}

.site-title {
	color: #fefefe;
	font-size: 3em;
	letter-spacing: .025em;
	text-align: center;
	text-shadow: .125em .125em 0 #abc0c0;
	text-transform: uppercase;
}

.site-title h1 {
	margin: 0;
	padding: 0;
}


/*= State ==================*/

.a11y-link:active,
.a11y-link:focus {
	top: 1em;
}

.nav a:active,
.nav a:focus,
.nav a:hover {
	color: #000;
}


/*= Responsive =================*/

@media screen and (max-width: 450px) {

	body {
		font-size: 1em;
	}
}
